div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* padding: 5px; */
}

nav {
    overflow: hidden;
    position: static;
    background-color: #000000;
    /* opacity: 0.5; */
    z-index: 1001;
  }

nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    
    text-decoration: none;
    font-size: 17px;
  }
  
nav a:hover {
    color:#cf9f3a;
    text-decoration: none;
  }
  
nav a.active {
    float: left;
    /* background-color:; */
    color: white;
    margin: 0%;
    text-decoration: none;
  }

  
nav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    nav.responsive {position: relative;}
    nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

