.card{
    background-color: #1C1B22;
    top: 0;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgb(156, 119, 43), 0 6px 20px rgb(156, 119, 43);
  width: fit-content;
  transition: 1s ease;
    border: 50px;
 
}

.cardtextolor{
    color: black;
}

.cardimg:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}
/* .card:hover{
    background-color: #1C1B22;
    top: -10px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    box-shadow: 0 4px 8px 0 rgba(246, 19, 19, 0.956), 0 6px 20px rgba(255, 0, 0, 0.19);
} */