@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
 */


 .card_container {
    display: flexbox;
    position: fixed;
}

.card{
    background-color:rgba(255, 255, 255, 0.00);
    border-radius: 15px;
}
body .card_container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .card_container .card:nth-child(1) .box .content a {
  background: #eee8aa;
}

body .card_container .card:nth-child(2) .box .content a {
  background: #eee8aa;
}

body .card_container .card:nth-child(3) .box .content a {
  background: #eee8aa;
}

body .card_container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #1d1d20;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.25s;
}

body .card_container .card .box:hover {
  transform: translateY(-50px);
}

body .card_container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .card_container .card .box .content {
  padding: 20px;
  text-align: center;
}



body .card_container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .card_container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .card_container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(4, 3, 3);
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .card_container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0,0.6);
  background: #000000(168, 19, 19);
  color: rgb(19, 15, 15);
}

.card_container {
    position: relative; 
   height: 1200px; 
   top: 100%; 
    display : flex;
} 